@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@800&family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,800");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  font-family: 'Open Sans';
  font-weight: 800;
}
/* pre section */
.section{
  padding-top: 150px;
  padding-bottom:20px;
  text-transform: uppercase;
  font-family: Open Sans,BlinkMacSystemFont,
    apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,
    Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 2.8rem;
  font-weight: 800;
  font-style: italic;
  background-position: center center;
  background-size: cover;
  align-items: center;
}
.section2{
  /* padding-top: 10px; */
  height:25vh;
  text-align: center;
  align-items: center;
  position: relative;
  /* background: #212121; */
    /* background: rgba(27, 27, 27, 0.75); */
    color: #fff;
}
.section .title::before{
  content:"";
  height:4px;
  background-color: red;
  position: absolute;
  left: 50%;
  width: 600px;
  bottom: 10px;
  background: rgb(241, 32, 32);
  transform:translateX(-50%);
}
.section2 .title2::before{
  content:"";
  height:4px;
  background-color: red;
  position: absolute;
  margin-top:70px;
  width: 600px;
  background: rgb(241, 32, 32);
  transform:translateX(-50%);
}
.section .title::after {
  content: "TOP 10";
  position: absolute;
    bottom: -60px;
    left: 50%;
    font-size: 100px;
    color: rgb(2, 84, 161);
    padding: 7px;
    background: transparent;
    background: url(bg01.png),url(header.jpg);
  background-position: top left, center center;
    background-size: auto, cover;
    transform: translateX(-50%);
}
.section2 .title2::after {
  content: "Articles";
  position: absolute;
    /* bottom: -52px; */
    left: 50%;
    font-size: 100px;
    color: rgb(2, 84, 161);
    padding: 5px;
    background:#fff;
    transform: translateX(-50%);
}
.section .title ,.section2 .title2{
  position: relative;
  text-align: center;
  font-size: 100px;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: -20px;
  font-family: Open Sans,BlinkMacSystemFont,
  -apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,
  Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* pre section */
/* bar de navigation*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 997;
  /* padding: 18px 0; */
  font-family: "ubuntu", sans-serif;
  font-size: 100%;
  font:inherit;
  transition: all 0.3s ease;
  /* background-color:#333; */
  background-color: rgba(23, 25, 27, 0.9);
  display:block;
  padding: 0.75em;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.35)), url(bg02.png);
  
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: crimson;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover {
  color: rgb(120, 190, 7);
}
nav form {
  display: flex;
  align-items: center;
}

nav input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
  display:none;
  
}
nav input[type="text"].active{
  display:inline-block;
}

nav button[type="submit"] {
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

nav button[type="submit"]:hover {
  background-color: #ddd;
}


/* menu bouton*/

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
  
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: rgb(0, 0, 0);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: white;
  z-index: 999;
  font-size: 30px;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn:hover {
  color: black;
  background: none;
  border: 2px solid rgb(0, 0, 0);
}
.scroll-up-btn.show {
  pointer-events: auto;
  opacity: 1;
  bottom: 30px;
}

.etopia{
  height: 70px;
  margin-top: -20px;
  margin-bottom:-20px;
  margin-left:-10px;
}
.pgcouv{
  height:400px;
  width:150%;
  
}



/* pg de garde */
 .container,.section{
  background: url(bg01.png),url(header.jpg);
  background-position: top left, center center;
    background-size: auto, cover;
 }
.container{
  padding-top: 100px;
  display:flex;
  flex-direction:row;
  width: 100%;
  height: 100vh;
  padding-left: 15px;
  font-family: "ubuntu", sans-serif;
  
   /* background: #212121; */
}

 .left {
  flex:300px;
  height: 80%;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow:hidden;
}
.pgcv{
  width: 300px;
  height: 210px;
  object-fit:cover;
}
.pgct{
  margin-right:110px;
  height: 100%;
  width: 100%;
  border-radius: 18px;
  box-shadow: 3px 0px 10px 0px rgb(128, 122, 122);
  transition: transform 0.5s ease;
  
 }
 .left:hover img{
  transform: translateX(-25%);
 }
 .left:hover img:first-child{
  transform:translateX(0);
 }
 
 .left:hover img:last-child{
  transform:translateX(50%);
 }

.right{
  flex: 60px;
  height: 80%;
  width:60%;
  display: flex;
  flex-direction: column;
  margin-right:0px;
  align-items:center;
  justify-content:flex-start;
  overflow:hidden;
  
  
}

.right-top {
  background-color: rgb(196,6, 6,0.5);
  color:white;
  /* margin-bottom: 20px; */
  text-align:center;
  height:100%;
  width:80%;
  transform: translate(-0%,50%);
  top:50%;
  z-index:995;
  font-family: "ubuntu", sans-serif;
  display:flex;
  flex-direction:column;
  overflow:hidden;
  opacity:1;
  transition: opacity 1s ease-in-out;
  margin-left:40px;
  margin-left:-20px;

}
.right-top.active {
  opacity:1;
}
 /* .right-top-pub { 
  width:100%;
  height:100%;
 } */
 /* .right-bottom {
  background-color: #eee;
  margin-top: 20px;
 } */
 /* .right-top p{ 
  width:auto;
  height:100%;
  overflow:hidden;
 } */
 .right-top h2,.right-bottom h2{
  /* margin-left: 40%; */
 }
 .right-top p,.right-bottom p{
   margin-left: 10px;
   margin-right: 10px;
}
 .right-top,.right-bottom{
  height: 50%;
  justify-content: center;
  align-items: center;
  overflow: auto;
  text-align: justify;
  border-radius: 18px;
  font-size: 18px;
  /* box-shadow: 8px -10px 10px 0px rgb(2, 84, 161); */
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  inset 0 0 40px rgba(0, 0, 0, .1);
 }

/* pg de garde */


/* articles*/
.articles{
  margin: 0;
  padding-top:50px;
  display: flex;
  flex-direction: row;
  /* background: #212121; */
  background-color: #fff;
    background-image: url(bg03.png), url(bg02.png);
    background-repeat: no-repeat, repeat;
    background-size: 100% 15em, auto auto;
    background-position: top center, top left;
  font-family: Open Sans,BlinkMacSystemFont,
  -apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,
  Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.left-section {
  width: 60%;
  background-color:transparent;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* border-right: 8px solid black; */
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  inset 0 0 40px rgba(0, 0, 0, .1); */
}
.photo{
  display:flex;
  flex-direction:row;
  margin-bottom:25px;

}
.photo::before{
  content:"";
  height:1px;
  background-color: red;
  position: absolute;
  width: 700px;
  background: #696969;
  margin-top:38vh;
  margin-left:15px;

}
.photo p{
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.photo h3{
  font-size: 1.35em;
}
.date {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.065em;
  font-size: 0.9em;
  color: #696969;
  margin: 0 0 0.25em 0;
}
.info{
  margin-left: 20px;
}
/* .photo :hover{
 color:blue;
} */

.right-section {
  width: 40%;
  background-color: transparent;
  color:#333;
  padding-left: 20px;
  margin-left: 10px;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
  -23px 0 20px -23px rgba(0, 0, 0, .8),
  23px 0 20px -23px rgba(0, 0, 0, .8),
  inset 0 0 40px rgba(0, 0, 0, .1); */
}
.right2-top{
  height: 30vh;
}
.right2-top h2{
 margin-top: 40px;
}
.right2-bottom{
  height: 50%;
  width:90%;
}
.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-gap: 10px;
  margin-top:40px;
  
}

.button {
  padding: 10px;
  background-color:transparent;
  color: #333;
  font-size: 16px;
  border: 3px solid rgb(9, 22, 110);
  cursor: pointer;
}

.button:hover {
  background-color: rgb(168, 7, 7,0.7);
  font-size: 18px;
}
 .right2-top ,.right2-bottom{

  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: justify;
  border-radius: 18px;
  font-size: 18px;
  margin-bottom: 20px;
 }
 /* reseau */
 #wrapper {
  text-align:center;
  position:relative;
  left:0;
  right:0;
  margin-top: 30px ;
  width:420px;
}

 .social {
  opacity:1;
  padding-top:20px;
  /* padding-left:10px; */
  margin-left:-10px;
  transform-origin:50% 0%;
  opacity:1;
  transition:.5s;
  display:flex;
}

* {
  
  box-sizing: content-box;
}


.social ul {
  position:relative;
  margin:-5px auto 0;
  color:#fff;
  height:46px;
  width:420px;
  /* background:#3B5998; */
  padding:0;
  list-style:none;
}

.social ul li {
  font-size:20px;
  cursor:pointer;
  width:60px;
  margin-bottom:10px;
  padding:12px 0;
  text-align:center;
  float:left;
  display:block;
  height:22px;
  
}

.social ul li:hover {color:rgba(0,0,0,.5);}

li[class*="twitter"] {background:#6CDFEA;padding:12px 0;}
li[class*="gplus"] {background:#E34429;padding:12px 0;}
li[class*="dropbox"] {background:#8DC5F2;padding:12px 0;}
li[class*="github"] {background:#9C7A5B;padding:12px 0;}
li[class*="instagram"] {background:#0E68CE;padding:12px 0;}
li[class*="youtube"] {background:#CC181E;padding:12px 0;}
li[class*="facebook"] {background:rgb(9, 22, 110);padding:12px 0;}

/* .credits a {
  color: #fff;
  text-decoration: none;} */
 /* reseau */
.photo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}
.photo a{
  color:black;
  cursor:pointer;
  width: 100%;
  height: 100%;
  margin: 10px;
  /* background-color: #ddd; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
}
.photo img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 10px;
}
/* articles*/


/* footer styling */
footer {
  background: #333;
  padding: 30px;
  color: #fff;
  text-align: center;
}
footer span a {
  color:#FFF;
  text-decoration: none;
}

/* responsive */
/* responsive bar de nav */
@media (max-width: 947px){
  .max-width{
    padding: 0 50px;
  }
  .menu-btn {
    display: block;
    z-index:999;
  }
  .navbar .menu {
    position:fixed;
    height:100vh;
    width:100%;
    left:-100%;
    top:0;
    background:black;
    text-align:center;
    padding-top:80px;
  }
  .navbar .menu.active {
    left:0;
  }
  .navbar .menu li{
    display: block;
  }
  .navbar .menu li a{
    display: inline-block; 
    margin: 20px 0;
    font-size: 25px;
   
  }
  .section{
    padding-top:130px;
    padding-bottom:0px;
  }
  .section .title::before,.section2 .title2::before{
    width:400px;
  }

  .section .title::after,.section2 .title2::after{
    font-size:70px;
  }

  .conatiner{
    height:80vh;
  }
 .left{
  flex:240px;
  height: 80%;
 
 }
 .rigth{
 overflow:visible;
 }
 .rigth-top{
  font-size:15px;
  width:90%;
  transform: translate(-20%,50%);
 }
 .pgct{
  height:80%;
  width:90%;
  margin-right:70px;
 }
 .articles{
  padding-top:20px;
 }
 .photo img{
  width:180px;
 }
 .photo p {
  font-size: 15px;
  margin-left:30px;
}
.social{
  align-items:left;
}
#wrapper {
  width:250px;
  
}
.social ul {
  width: 300px
}
.social ul li {
  width:40px;
  height:18px;
}
}